<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bakaláři.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Bakaláři.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Bakaláři.Settings1>
            <setting name="settCal2" serializeAs="String">
                <value>True</value>
            </setting>
        </Bakaláři.Settings1>
        <Bakaláři.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value/>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="link" serializeAs="String">
                <value/>
            </setting>
            <setting name="settCal2" serializeAs="String">
                <value>Vlastní třída</value>
            </setting>
            <setting name="settCalDate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="settCalPick" serializeAs="String">
                <value/>
            </setting>
            <setting name="znamkyA" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="link1" serializeAs="String">
                <value/>
            </setting>
            <setting name="link2" serializeAs="String">
                <value/>
            </setting>
            <setting name="link3" serializeAs="String">
                <value/>
            </setting>
            <setting name="hranice" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="settDu" serializeAs="String">
                <value>Všechny</value>
            </setting>
            <setting name="facebook" serializeAs="String">
                <value>https://cs-cz.facebook.com/gymka/</value>
            </setting>
            <setting name="jidelna" serializeAs="String">
                <value>http://fibichova.amoskadan.cz:8081/kadan/faces/login.jsp</value>
            </setting>
            <setting name="jidelnaid" serializeAs="String">
                <value/>
            </setting>
            <setting name="jidelnapass" serializeAs="String">
                <value/>
            </setting>
            <setting name="usernamecache" serializeAs="String">
                <value/>
            </setting>
            <setting name="passwordcache" serializeAs="String">
                <value/>
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
        </Bakaláři.Properties.Settings>
    </userSettings>
</configuration>
